$font-family: 'Helvetica Neue', arial, freesans, clean, sans-serif !default;
$font-size: 14px;
$background-color: white !default;
$main-color: #666 !default;
$main-hover-color: #327fc7 !default;
$main-link-color: #555 !default;
$main-border: 1px solid #ddd !default;
$active-border: 3px solid #d8d8d8 !default;
$main-border-bottom: 1px solid #eee !default;
$sub-arrow-color: #9a9a9a !default;
$sub-hover-background-color: #f2f2f2 !default;
$sub-hover-color: #327fc7 !default;
$sub-border-bottom: 1px solid #eee !default;
$sub-background-color: #f9f9f9 !default;
$sub-link-color: #4183C4 !default;
$sub-sub-link-color: $sub-link-color !default;
$sub-color: $main-color !default;
$sub-sub-arrow-color: #ccc !default;
$sub-sub-background-color: #fff !default;

.lz-menu {
    background-color: $background-color;
    position: relative;
    margin: 20px 0 0;
    width: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.4em;
    font-family: $font-family;
    color: $main-color;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: $font-size;
    border: $main-border;
    div {
        display: block;
        margin: 0;
        padding: 0;
    }
    ul {
        border: 0;
        margin: 0;
        padding: 0;
        li {
            border: 0;
            margin: 0;
            padding: 0;
            display: list-item;
            text-align: -webkit-match-parent;
            list-style-type: none;
            .active > a {
                color: #333;
                border-left: $active-border;
                padding-left: 29px;
            }
            h3 {
                margin: 0;
                color: $main-color;
                border-bottom: $main-border-bottom;
                font-size: $font-size;
                position: relative;
                display: block;
                a+a,
                a+span {
                    padding: 8px 10px;
                }
                a+span {
                    font-weight: 700;
                    cursor: pointer;
                }
                a+a {
                     :hover {
                        text-decoration: none;
                        color: $main-hover-color;
                        background-color: transparent;
                    }
                }
                a,
                span {
                    display: block;
                    color: $main-link-color;
                    text-decoration: none;
                }
                .arrow-btn {
                    width: 0;
                    height: 0;
                    float: left;
                    padding: 0;
                    margin: 10px 9px 9px;
                    text-decoration: none;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 8px solid $sub-arrow-color;
                    border-right: 0;
                }
                .expanded {
                    margin: 12px 8px 8px;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 8px solid $sub-arrow-color;
                    border-bottom: 0;
                }
            }
            ul {
                li {
                    border-bottom: $sub-border-bottom;
                    font-weight: 700;
                    color: $sub-color;
                    background-color: $sub-background-color;
                    h3 {
                    border-bottom: 0;
                        a {
                            font-weight: 700;
                        }
                        a+a,
                        a+span {
                            padding-left: 31px;
                        }
                        .arrow-btn {
                            border-top: 5px solid transparent;
                            border-bottom: 5px solid transparent;
                            border-left: 8px solid $sub-sub-arrow-color;
                            border-right: 0;
                        }
                        .expanded {
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 8px solid $sub-sub-arrow-color;
                            border-bottom: 0;
                        }
                    }
                    a {
                        padding: 6px 0 6px 31px;
                        display: block;
                        text-decoration: none;
                        font-weight: 400;
                        color: $sub-link-color;
                    }
                     :hover {
                        background-color: $sub-hover-background-color;
                        color: $sub-hover-color;
                    }
                     :last-child {
                        border-bottom: none;
                    }
                    ul {
                        .active > a {
                            padding-left: 53px;
                        }
                        li {
                            border-bottom: 0;
                            font-weight: 700;
                            color: $sub-color;
                            background-color: $sub-sub-background-color;

                            a {
                                padding-left: 56px;
                                color: $sub-sub-link-color;
                            }
                            :last-child {
                               border-bottom: none;
                           }
                        }
                    }
                }
            }
        }
         :last-child > h3 {
            border-bottom: 0;
        }
         :last-child > ul > li {
            border-bottom: 0;
        }
    }
}
