<ul id="menu-1">
    <li>
        <h3><a href="/v3/">Online Newspapers</a></h3>
        <ul>
            <li class="active"><a href="http://www.cnn.com">CNN</a></li>
            <li><a href="http://www.bbc.co.uk">BBC</a></li>
            <li><a href="http://www.nrk.no">NRK</a></li>
        </ul>
    </li>
    <li>
        <h3><a href="/v3/activity/">Funny sites</a></h3>
        <ul>
            <li><a href="http://www.google.com">Google</a></li>
            <li><a href="http://www.bing.com">Bing</a></li>
            <li><a href="http://www.yahoo.com">Yahoo</a></li>
        </ul>
    </li>
    <li>
        <h3><a href="/v3/gists/">Search Engines</a></h3>
        <ul>
            <li><a href="http://www.google.com">Google</a></li>
            <li><a href="http://www.bing.com">Bing</a></li>
            <li><a href="http://www.yahoo.com">Yahoo</a></li>
        </ul>
    </li>
</ul>
