<!-- index.html -->
{% extends "layout.html" %}
{% macro demo(name, htmlsource, jssource) %}

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a data-toggle="tab" role="tab" href="##alllinks{{ name }}">View</a></li>
    <li role="presentation"><a data-toggle="tab" role="tab" href="##alllinkshtml{{ name }}">HTML</a></li>
    <li role="presentation"><a data-toggle="tab" role="tab" href="##alllinksjs{{ name }}">JS</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" id="alllinks{{ name }}" class="tab-pane fade in active">
        <div style="max-width: 300px; margin: auto">
            {% include "partials/" + name + ".html" %}
        </div>
    </div>
    <div role="tabpanel" id="alllinkshtml{{ name }}" class="tab-pane fade">

        <pre><code class="html">{{ htmlsource | escape }}</code></pre>
    </div>
    <div role="tabpanel" id="alllinksjs{{ name }}" class="tab-pane fade">

        <pre><code class="html">{{ sourcjs | escape }}</code></pre>
    </div>
</div>
{% endmacro %}
{% block content %}
<div class="bs-docs-header" id="content" tabindex="-1">
    <div class="container">
        <h1>LazeeMenu</h1>
        <p>Multi-level sidebar menu - JQuery plugin</p>
        <img src="images/demo.gif" />
    </div>
</div>

<div class="container bs-docs-container">
    <div class="col-md-11">

        <h1 class="page-header">Introduction</h1>
        <p>
            LazeeMenu is a JQuery plugin that turns a nested unordered list of links into a vertical multi-level
            navigation menu. It is visually inspired by the similar menu used by Github on its reference pages, but
            with support for an additional level. It support both links and standard text in the expandable menu items.
        </p>

        <h2 class="page-header">Usage and Instructions</h2>
        <p>
            Please read the <a href="https://github.com/lazee/lazeemenu/blob/master/README.md">README</a> file in the
            GitHib repo for instructions on how to use and contribute.
        </p>

        <h2 class="page-header">Demos</h2>

        <h3>Default style without links on expandable headers</h3>
        <p>In this example we haven't added any links on the expandable items. This allows you to click on the entire
        item in order to expand it.</p>

        {% set sourc %}{% include "partials/demo2.html" %}{% endset %}
        {% set sourcjs %}{% include "partials/demo2.js.html" %}{% endset %}
        {{ demo('demo2', sourc, sourcjs) }}

        <h3>GitHub style with linked first level headers</h3>
        <p>In this example all the expandable headers are also links in themselves. In order to expand the item you
        have to click on the arrow beside the link. Clicking elsewhere inside the expandable item will take you to
        the link source.</p>
        {% set sourc %}{% include "partials/demo1.html" %}{% endset %}
        {% set sourcjs %}{% include "partials/demo1.js.html" %}{% endset %}
        {{ demo('demo1', sourc, sourcjs) }}

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

    </div>
</div>

<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/lazeemenu-jquery.js"></script>
{% include "partials/demo1.js.html" %}
{% include "partials/demo2.js.html" %}
<script type="text/javascript">
$(document).ready(function() {
    $('.nav-tabs > li > a').click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        $(this).tab('show');
    })
});
</script>
{% endblock %}
